article
    h3 Если
    div
        p
            span.
                кто вдруг захочет со мною связаться &mdash; смотрите ссылки рядом. Ответ не гарантирую, в некоторые
                профили могу не заглядывать по нескольку месяцев.