article
    h3 Блог
    div
        p.
            На этом месте был блог, который в результате странного неожиданного
            стечения обстоятельств <i>пропал</i>.
            Со временем восстановлю его в новой ипостаси, с новыми идеями, но пока времени на это нет &mdash; всё уходит
            на рабочие проекты, что тоже неплохо с одной стороны.
        p.
            Но тем не менее прогресс есть: почти написана админка. Стек получается такой: React&nbsp;+ Mongo, элементы
            <a href="http://elemental-ui.com/" target="_blank">Elemental</a>. Модный
            <a href="http://redux.js.org/" target="_blank">Redux</a> решил не использовать,
            а запилить свой изоморфный велосипед <strike>из костылей</strike>.

