article
    h3 Блог
    div
        p
            span.
                На этом месте был блог, который в результате странного неожиданного
            span.
                стечения обстоятельств <i>пропал</i>.
                Со временем восстановлю его в новой ипостаси, с новыми идеями, но пока времени на это нет &mdash; всё уходит
                на рабочие проекты, что тоже неплохо с одной стороны.
